<form> 
    <div class="from-control">
        <label for="text">nombre</label>
        <input type="text" name="nombre" id="nombre" placeholder="agregar nombre"/> 
    </div>

    <div class="from-control">
        <label for="text">apellido</label>
        <input type="text" name="apellido" id="apellido" placeholder="agregar apellido"/> 
    </div>

    <input type="submit" value="enviar" class="btn btn-block">
   
    <div class="from-control from-control-check">
        <label for="reminder">apellido</label>
        <input type="text" name="apellido" id="apellido" placeholder="agregar apellido"/> 
    </div>
</form>
