
<div class="card mat-card">
    <div class="card-titles">
        <h2>Acerca de</h2>
        <!--<div class="btn-edit" onclick="cambiar_parrafo()">
        <a herf="#" class="btn-right">
          <i class="fa fa-pen"></i>
        </a>
      </div>
    </div>-->
        <div class="btn-edit"><a herf="#" class="btn-right"><i class="fa fa-pen"></i></a></div>
      <input type="text" id="in text">
        <div class="btn-edit" onclick= "cambiar_parrafo()">
        
        <p id="text_acercade">Maestra, incursionando en la programación</p>
      </div>
      
      <div>
        <input id="edit-acercade" type="text" oninput="myFunction2(this.value)" style="display:none">
      
      <input type="file" id="filel" onchage="showFile(this)">
      </div></div>